/*Note: By default, browers has differnt margin and padding to some elements*/

/*This is the universal selector, it apply to all element*/
*{
    margin: 0;
    padding: 0;
    /*This will prevent the padding from being added to the width and height of the box*/
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: yellow;
    padding: 30px;
}

.header{
    /* make 95% of viewport height */
    height: 95vh;
    /* to right means start light color from left and dark color from the right */
    background-image: linear-gradient(to right bottom, rgb(89, 237, 220, 0.5), rgb(96, 129, 220, 0.8)), url(../img/background.jpg);
    /* adjust the size of the image to fit the element that is inside of the box */
    background-size: cover;
    /* image at the top will stay the same when resizing the browers */
    background-position: top;
    position: relative;

    /* shape the background iamge */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 35px;
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main{
    display: block;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 25px;

    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 15.5px;

    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft{
    /* start of the animation */
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(20px);
    }

    /* end of the animation */
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    /* start of the animation */
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    80%{
        transform: translateX(-20px);
    }

    /* end of the animation */
    100%{
        opacity: 1;
         transform: translate(0);
    }
}

.btn:link,
.btn:visited{
    text-transform: uppercase;
    /* remove the link and color on a */
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.3s;
}

.btn:hover{
    transform: translateY(-3px);
    /* add blurry shadow */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active{
    transform: translateY(-1px);
}

.btn-white{
    background-color: white;
    color: grey;
}