// fix the height problem when using float
@mixin clearfix{
    &::after{
        // make this element disappear
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// media query
/*
0 - 600px : phone
600 - 900px : Tablet portrait
900 - 1200px : Tablet landscape
1200 - 1800px : Desktop
1800px + : Big Desktop
*/

// note -  em is better to use than rem in media queries
// 1em = 16px

// breakpoint can take the arguements of phone, t-port, t-land, b-desk
// only screen apply to screen only and not when printing this website
@mixin respond($breakpoint){
    @if $breakpoint == phone{
        // 600px
        @media only screen and (max-width: 37.5em){ @content };
    }
    @if $breakpoint == t-port{
        // 900px
        @media only screen and (max-width: 56.25em){ @content };
    }
    @if $breakpoint == t-land{
        // 1200px
        @media only screen and (max-width: 75em){ @content };
    }
    @if $breakpoint == b-desk{
        // 1800px
        @media only screen and (min-width: 112.5em){ @content };
    }
}