// Color
$color-primary: #00bfff;
$color-primary-light: #00ffbf;
$color-primary-dark: #0040ff;

$color-secondary-light: #DAA520;
$color-secondary-dark: #8B4513;

$color-tertiary-light: #90EE90;
$color-tertiary-dark: #3CB371;

$color-grey-light-1: #ffe6e6;
$color-grey-light-2: #DCDCDC;

$color-grey-dark: #73808c;
$color-grey-darker: #2F4F4F;

$color-white: #ffffff;
$color-black: #001a33;

// Font-Size
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizaontal: 6rem;