.footer{
    background-color: $color-primary-light;
    padding: 5rem 0;
    font-size: 1.4rem;

    @include respond(t-port){
        padding: 8rem 0;
    }

    &__logo-box{
        text-align: center;
        margin-bottom: 8rem;

        @include respond(t-port){
            margin-bottom: 5rem;
        }
    }

    &__logo{
        width: 15rem;
        height: auto;
    }

    &__navigation{
        border-top: 1px solid $color-primary-dark;
        padding-top: 2rem;
        // does not occupy all the width
        display: inline-block;

        @include respond(t-port){
            width: 100%;
            text-align: center;
        }
    }

    &__list{
        list-style: none;
    }

    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link{
        &:link,
        &:visited{
            color: $color-primary-dark;
            background-color: $color-primary-light;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .5s;
        }

        &:hover,
        &:active{
            color: $color-secondary-light;
            box-shadow: 0 1rem 2rem rgba($color-black, .5);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright{
        color: $color-secondary-light;
        border-top: 1px solid $color-primary-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include respond(t-port){
            width: 100%;
            float: none;
        }
    }
}