.row{
    max-width: $grid-width;
    margin: 0 auto;
    
    // apply to all row expect the last row
    &:not(:last-child){
        margin-bottom: $gutter-vertical;

        @include respond(t-port){
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include respond(t-port){
        max-width: 45rem;
        padding: 0 3rem;
    }

    @include clearfix;

    // this is attribute selector that select all columns that start with col
    [class^="col-"]{
        float: left;
        
        &:not(:last-child){
            margin-right: $gutter-horizaontal;

            @include respond(t-port){
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(t-port){
            width: 100% !important;
        }
    }

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizaontal}) / 2);
    }

    .col-1-of-3{
        width: calc((100% - 2 * #{$gutter-horizaontal}) / 3);
    }

    .col-2-of-3{
        width: calc(2 * ((100% - 2 * #{$gutter-horizaontal}) / 3) + #{$gutter-horizaontal});
    }

    .col-1-of-4{
        width: calc((100% - 3 * #{$gutter-horizaontal}) / 4);
    }

    .col-2-of-4{
        width: calc(2 * ((100% - 3 * #{$gutter-horizaontal}) / 4) + #{$gutter-horizaontal});
    }

    .col-3-of-4{
        width: calc(3 * ((100% - 3 * #{$gutter-horizaontal}) / 4) + 2 * #{$gutter-horizaontal});
    }
}