.row{
    max-width: $grid-width;
    background-color: #8000ff;
    margin: 0 auto;
    
    // apply to all row expect the last row
    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizaontal}) / 2);
        background-color: yellow;
        float: left;
        
        &:not(:last-child){
            margin-right: $gutter-horizaontal;
        }
    }
}