.navigation{
    &__checkbox{

    }

    &__button{

    }

    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        // fixed does not change position when scroll the page
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        // radial-gradient start in the middle of the element
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
    }

    &__nav{

    }

    &__list{

    }

    &__item{

    }

    &__link{

    }
}