.btn{
    &,
    &:link,
    &:visited{
        text-transform: uppercase;
        /* remove the link and color on a */
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.3s;
        position: relative;
        font-size: $default-font-size;

        border: none;
        cursor: pointer;
    }

    &:hover{
        transform: translateY(-3px);
        /* add blurry shadow */
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after{
            /* scale increase the element */
            transform: scaleX(1.4) scaleY(1.6);
            /* fade the shadow button */
            opacity: 0;
        }
    }

    &:active,
    &:focus{
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--white{
        background-color: $color-white;
        color: $color-grey-dark;

        &::after{
            background-color: $color-white;
        }    
    }

    &--green{
        background-color: $color-primary;
        color: $color-white;

        &::after{
            background-color: $color-primary;
        }    
    }

    /* this is behind the button */
    &::after{
        content: "";
        display: inline-block;
        /* this is treated like a child of the button */
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        /* absolute position must have reference */
        position: absolute;
        top: 0;
        left: 0;
        /* this wil put it behind the button */
        z-index: -1;
        transition: all 0.5s;
    }

    &--animated{
        animation-name: moveInBottom;
        animation-duration: 1s;
        animation-delay: 0.75s;
        animation-timing-function: ease-out;
        /* set the opacity to 0 on the button before the animation start */
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
        transform: translateY(0);
    }
}