@keyframes moveInLeft{
    /* start of the animation */
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(2rem);
    }

    /* end of the animation */
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    /* start of the animation */
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    80%{
        transform: translateX(-2rem);
    }

    /* end of the animation */
    100%{
        opacity: 1;
         transform: translate(0);
    }
}

@keyframes moveInBottom{
    /* start of the animation */
    0%{
        opacity: 0;
        transform: translateY(5rem);
    }

    /* end of the animation */
    100%{
        opacity: 1;
        transform: translate(0);
    }
}