// Note: By default, browers has differnt margin and padding to some elements

// This is the universal selector, it apply to all element
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    // this will inherit the body 
    box-sizing: inherit;
}

html{
    // 1 rem is equal to 10px 
    // default bowser size is 16px 
    font-size: 62.5%;

    // font-size for phone is 50%, there no need write query for phone when tablet portrait is 50%

    @include respond(t-land){ // width < 1200
        font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
    }

    @include respond(t-port){ // width < 900
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }

    @include respond(b-desk){
        font-size: 75%; // 1 rem = 12, 12/16 = 75%
    }
}

body{
    //This will prevent the padding from being added to the width and height of the box
    box-sizing: border-box;
}